body {
    background-color: lightblue;
    /* text-align: center; */
}

main {
    margin: 0 20px;
    padding: 25px 0;
    background-color: white;
    /* text-align: center; */
}

h1 {
    text-align: center;
    color: cornflowerblue;
}

h2 {
    color: lightblue;
}

p {
    color: darkslategray;
}


/* #cuisines {
    width: 50em;
} */

#hero {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5), url("2-rest-rant.jpg"));
    height: 100%;
    width: 100%;
}

#pic {
    margin-top: 4.5px;
}

#state {
    width: 100%;
    background-color: transparent;
    color: black;
    margin: 0;
}

#form {
    display: flex;
    width: 60%;
    margin: 0 auto;
}

#addBtn {
    display: flex;
    justify-content: center;
    width: 10em;
    margin: 0 auto;
    margin-top: 1.5em;
}

#editBtn {
    display: flex;
    justify-content: center;
    width: 10em;
    margin: 0 auto;
    margin-top: 1.5em;
}

nav {
    margin: 0 20px;
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}

img {
    margin: 1em 1em;
}
